/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ADELIA";
    src: url("../public/fonts/ADELIA.otf");
  }

body{
    background-image: url("../public/images/wallpaper.jpg");
    background-color: black;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    
}
  